<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>447962457944-vl8piddkg2k33pmbt9ksadtsuub955im.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.447962457944-vl8piddkg2k33pmbt9ksadtsuub955im</string>
	<key>API_KEY</key>
	<string>AIzaSyAIBNgvaf1L7Cv7CPSy5TOi_Q3OnURK3ME</string>
	<key>GCM_SENDER_ID</key>
	<string>447962457944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ogtong.matthew.DogGram</string>
	<key>PROJECT_ID</key>
	<string>doggram-f5962</string>
	<key>STORAGE_BUCKET</key>
	<string>doggram-f5962.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447962457944:ios:a0350ad1290bca104b672d</string>
</dict>
</plist>